<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Delete movies</title>

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header th:replace="fragments/general.html :: header"></header>

        <main>
            <div>
                <h2>Select movies to delete</h2>
                <form th:action="@{/delete-movies}" method="post">
                    <table>
                        <tr>
                            <th>Delete</th>
                            <th>ID</th>
                            <th>Title</th>
                        </tr>
                        <tr th:each="movie : ${movies}">
                            <td><input type="checkbox" th:name="${movie.id}"></td>
                            <td th:text="${movie.id}"></td>
                            <td th:text="${movie.title}"></td>
                        </tr>
                    </table>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </main>

        <footer th:replace="fragments/general.html :: footer"></footer>
    </body>
</html>