<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Movies</title>

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header th:replace="fragments/general.html :: header"></header>

        <main>
            <div>
                <h2>List of all movies</h2>
                <button onclick="location.href='/new-movie';">Add a movie</button>
                <button onclick="location.href='/delete-movies';">Delete movies</button>
                <br><br>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Language</th>
                        <th>Running time</th>
                    </tr>
                    <tr th:each="movie : ${movies}">
                        <td th:text="${movie.id}"></td>
                        <td th:text="${movie.title}"></td>
                        <td th:text="${movie.director}"></td>
                        <td th:text="${movie.language}"></td>
                        <td th:text="${movie.runningTime}"></td>
                    </tr>
                </table>
            </div>
        </main>

        <footer th:replace="fragments/general.html :: footer"></footer>
    </body>
</html>