<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add a new movie</title>

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header th:replace="fragments/general.html :: header"></header>

        <main>
            <div>
                <h2>Add a new movie</h2>
                <form th:action="@{/new-movie}" th:object="${movie}" method="post">
                    <label for="title">Title:</label>
                    <br>
                    <input type="text" id="title" th:field="*{title}">
                    <br>
                    <label for="director">Director:</label>
                    <br>
                    <input type="text" id="director" th:field="*{director}">
                    <br>
                    <label for="language">Language:</label>
                    <br>
                    <input type="text" id="language" th:field="*{language}">
                    <br>
                    <label for="runningTime">Running time:</label>
                    <br>
                    <input type="text" id="runningTime" th:field="*{runningTime}">
                    <br>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </main>

        <footer th:replace="fragments/general.html :: footer"></footer>
    </body>
</html>